.container-category > ul {
  display: flex;
  list-style-type: none;
  border: solid 2px red;
  font-size: 30px;
  justify-content: space-evenly;
  background-color: #1d1d1d;
}
.container-category > ul > li {
  margin: 20px;
}
.container-category > ul > li > a {
  text-decoration: none;
  font-family: LucyTheCat;
  border: solid 2px yellow;
  font-size: 25px;
  color: white;
}
